<div class="welcome-container">
  <h1 class="title">Clínica Online</h1>
  <div class="buttons">
    <button 
      type="button" 
      class="btn btn-primary btn-lg toggle-btn login-btn" 
      (click)="NavegarLogin()">
      Login
    </button>

    <button 
      type="button" 
      class="btn btn-outline-light btn-lg toggle-btn register-btn" 
      (click)="NavegarRegistro()">
      Registrarse
    </button>
  </div>

  <!-- Overlay con Spinner Material -->
  <div class="overlay" *ngIf="loading">
    <mat-progress-spinner 
      mode="indeterminate" 
      color="primary" 
      diameter="50" 
      strokeWidth="4">
    </mat-progress-spinner>
  </div>
</div>
