<div class="register-container">
  <h1>Registro</h1>

  <!-- Solo mostramos por defecto paciente -->
  <div class="register-children">
    <app-paciente *ngIf="tipoUsuario === 'paciente'"></app-paciente>
    <app-especialista *ngIf="tipoUsuario === 'especialista'"></app-especialista>
  </div>

  <!-- Botón opcional para cambiar a especialista -->
  <div style="margin: 12px 0;">
    <button *ngIf="tipoUsuario === 'paciente'" (click)="tipoUsuario='especialista'">
      Quiero registrarme como especialista
    </button>
    <button *ngIf="tipoUsuario === 'especialista'" (click)="tipoUsuario='paciente'">
      Quiero registrarme como paciente
    </button>
  </div>

  <div class="terms">
    <input type="checkbox" id="acepto" [(ngModel)]="aceptoCondiciones">
    <label for="acepto">Acepto las condiciones de uso</label>
  </div>

  <button (click)="registrar()" [disabled]="!aceptoCondiciones || loading">
    <span>Registrarse</span>
  </button>
  <button (click)="volver()">Volver al home</button>

  <!-- Overlay con Spinner Material -->
  <div class="overlay" *ngIf="loading">
    <mat-progress-spinner 
      mode="indeterminate" 
      color="primary" 
      diameter="50" 
      strokeWidth="4">
    </mat-progress-spinner>
  </div>
</div>
